<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/art_list.css' %}">
</head>
<body>
    <div class="virasat-container">
    <h2 class="virasat-heading">All the Items are listed below.</h2>
    {% for item in items %}
        <div class="art-card">
                <p>{{ item.name_of_art }}</p>
                <p>{{ item.name_of_artist }}</p>
                <p>{{ item.price_of_art }}</p>
                <p>{{ item.desc_of_art }}</p>
                {% if item.image_of_art %}
                    <img src="{{ item.image_of_art.url }}" alt="{{ item.name_of_art }}">
                {% else %}
                    <span>No image</span>
                {% endif %}
            </div>
        {% empty %}
            <p>No art added yet.</p>
        {% endfor %}

        <a href="/artsell/" class="add-art-btn">+ Add Art</a>

    </div>
</body>
</html>